.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .footer__copyright {
        padding-top: 16px;
        line-height: 14px;
    }
}

@media (max-width: 425px) {

}
