.intro {
    padding: 92px 148px;
    max-width: 690px;
    display: flex;
    flex-direction: column;
    align-self: start;
}

@media (max-width: 1024px) {
    .intro {
        padding: 88px 48px;
        width: auto;
    }
}

@media (max-width: 768px) {
    .intro {
        padding: 64px 24px;
    }
}

@media (max-width: 425px) {
    
}
