.cover {
  margin: 0 auto 0;
  padding: 0;
  width: calc(100% - 2*48px);
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 1024px) {
  .cover {
      margin: 16px 0 0;
  }
}
