.intro__title {
    margin: 0;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    padding-bottom: 37px;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
    .intro__title {
    font-size: 35px;
    line-height: 35px;
    }
}

@media (max-width: 425px) {
    
}
